<ng-container *ngIf="resultMessage!=''">
  <div class="alert alert-info">{{ resultMessage}}</div>
</ng-container>
<div id="signIn-row" class="row justify-content-center align-items-center">
    <div id="signIn-column" class="col-md-6 col-md-offset-3">
        <div id="signIn-box" class="col-md-12">
            <form class="form" [formGroup]="signInForm">
                <h3 class="text-center text-info">Sign In</h3>
                <div class="form-group">
                    <label for="user_name" class="text-info">User Name:</label><br>
                    <input type="text" name="user_name" id="user_name" class="form-control" formControlName="user_name">
                    <div *ngIf="user_name.touched && user_name.invalid">
                      <small class="text-danger">
                          field is required.
                      </small>
                  </div>
                </div>
                <div class="form-group">
                    <label for="user_email" class="text-info">Email:</label><br>
                    <input type="text" name="user_email" id="user_email" class="form-control" formControlName="user_email">
                    <div *ngIf="user_email.touched && user_email.invalid">
                      <small class="text-danger">
                          field is required, write correct email.
                      </small>
                  </div>
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Password:</label><br>
                    <input type="password" name="user_password" id="user_password" class="form-control" formControlName="user_password">
                    <div *ngIf="user_password.touched && user_password.invalid">
                      <small class="text-danger">
                          field is required.
                      </small>
                  </div>
                </div>
                <div class="form-group">
                  <button [disabled]="signInForm.invalid" type="button" class="btn btn-info"
                  (click)="submit()">Sign In</button>
              </div>
            </form>
        </div>
    </div>
  </div>
